<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="RemoteOnly"/>
    
  </system.web>
  <appSettings>
    <!-- ToDo: Encrypt the below using aspnet_regiis -pef encryptedAppSettings . -prov DataProtectionConfigurationProvider [command]-->
    <add key="consumer_key" value="HKkJfwvktPMvKuJ90SBW1nWHU" />
    <add key="consumer_secret" value="lE9rXaKh8eWf3rpS61BYy9rHeuSKuGg8ZWTA7To5l9HqfEbV0g"/>
  </appSettings>
</configuration>
